.links {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 40px 0;
  font-size: 30px;
}
.links p {
  cursor: pointer;
  color: #98a2b3;
}
.not_product {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 90px;
}
.not_product img {
  width: 10%;
}
.edit_delet {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.edit_delet button {
  padding: 3px 10px 0 10px;
  height: 33px;
}
.edit {
  background: rgb(1, 161, 1);
  box-shadow: 0 0 7px 1px green;
}
.delet {
  background: rgba(248, 37, 37, 0.774);
  box-shadow: 0 0 7px 1px red;
}
