.order1 img {
  width: 16pc;
  height: 16pc;
  border-radius: 10px;
  background-color: rgb(30, 69, 69);
  background: #2382aa56;
  border-color: black;
  border-color: #2382aa56;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 4pc;
  margin-top: 5pc;
}
.order1 {
  display: flex;
  padding: 20px;
  width: 100%;
  margin-left: -4pc;
}
.order-nav {
  display: flex;
  align-items: center;
  gap: 3pc;
  padding: 3pc;
  border-radius: 10px;
  border: 2px solid #dedede;
  background-color: white;
}
.order-nav h1 {
  position: absolute;
  margin-top: 5pc;
  font-size: 3pc;
  left: 30pc;
}
/* .order-nav h3 {
  position: absolute;
  margin-top: 5pc;
  left: 19.5pc;
} */

.order-nav h2 {
  position: absolute;
  color: red;
  margin-top: -9pc;
  font-size: 3pc;
  left: 30pc;
}
.div {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 23px;
}
.order-nav h3 {
  position: absolute;
  cursor: pointer;
  color: red;
  margin-top: -20pc;
  font-size: 1.2pc;
  left: 60pc;
  font-weight: 560;
  border-bottom: 2px solid red;
}
