.password {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.password_block {
  width: 400px;
  height: 300px;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 8px 2px rgb(147, 161, 238);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.password_block h1 {
  text-align: center;
}
.code {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-top: 50px;
}
.code p {
  color: rgb(241, 49, 49);
  position: absolute;
}
.input-3 {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  width: 300px;
}

.input-3[type="password"] {
  background-position: right 10px center;
  background-repeat: no-repeat;
  padding-right: 30px;
}

.input-3[type="password"]:hover {
  cursor: pointer;
}
